DOCUMENTINTELLIGENCE_API_KEY='your_azure_document_intelligence_api_key_here'
DOCUMENTINTELLIGENCE_ENDPOINT='https://your-resource-name.cognitiveservices.azure.com/'

DATABASE_URL=postgresql+psycopg2://invostream_user:13148897minhhan@postgres:5432/invostream_postgresql_db
POSTGRES_USER=invostream_user
POSTGRES_PASSWORD=13148897minhhan
POSTGRES_DB=invostream_postgresql_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=invostream_ch_pass
